.search-input {
    margin-bottom: 0;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    overflow: hidden;
    background-color: --bs-gray-500;
}

.search-input select {
    border: none;
    padding: 15px;
    max-width: 150px;
}

.search-input input[type="text"] {
    background-color: transparent;
}
